* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro';
}

.wrapper {
  background: url('images/background.png');
  background-size: cover;
  width: 100%;
  /* max-width: 1000px; */
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content {
  max-width: 1000px;
}

header {
  display: flex;
  justify-content: space-between;
}

.hero {
  /* background-image: url('images/background.png');
  background-size: cover; */
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 800px;
  text-align: center;
}

.hero h1 {
  color: #FFF;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero .subheader {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.hero .hero-text {
  color: #FFF;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 26px;
}

@media only screen and (max-width: 480px) {

}

